apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: ${cluster.master_auth[0].cluster_ca_certificate}
    server: https://${cluster.endpoint}
  name: default
contexts:
- context:
    cluster: default
    user: user
  name: ${k8s_provider}-${cluster.name}
current-context: ${k8s_provider}-${cluster.name}
preferences: {}
users:
- name: user
  user:
    username: ${cluster.master_auth[0].username}
    password: ${cluster.master_auth[0].password}
